# Created by .ignore support plugin (hsz.mobi)
.vscode/
.idea/
b-kaggle/
b-kaggle-com/
bin/
build/
cmake-build-debug/
rtklib_b34/
example/
skills/
exp-8-22/
exp-8-23/
exp-phone/
Data19_20201214_HG4930_CAR_Opensky/
README-master.md
.idea/
.claude/
*.trace
*.rslt
*.csv
*.txt
*.log
*.a
*.nav
*.json
*.stat
phone/
python_plot/
.vscode/settings.json
.gitignore
rtkrcv.nav
.gitignore
rtkrcv.nav
